.body{
    margin: 0;
    font-family: Raleway, sans-serif;
}
.header{
  display: inline-grid;
 grid-template-columns: 366px;
 
}

.header_menu{

}

.header_menu_list{


}

.header_menu_list_main{

}

.header_menu_list_lots{

}

.header_menu_list_about_auction{

}


.header_logo{

}

.header_address{

}
.header_address_list{

}

.cover{
background-image: url(images/cover.jpg);
}

.overlay{

}

.cover_title{

}

.aligned-text{

}

.aligned-text_center{

}

.aligned-text_right{

}

.cover_description{

}

.cover_description_text{

}

.cover_description_button{

}

.lots{

}

.lots_heading{

}

.lots_card_list{

}

.lots_card_list_item{

}

.card-link{

}

.card_film{

}

.card_title{

}

.card_text{

}

.card_book{

}

.card_picture{

}

.about{

}

.about_text{

}


.footer{
    display: inline-grid;
 grid-template-columns: 366px;
}

.footer_address{

}

.footer_menu{

}

.footer_menu_list{

}

.footer_menu_list_main{

}

.footer_menu_list_lots{

}

.footer_menu_list_about{

}

.footer_social{

}

.footer_menu_social{

}

.footer_menu_social_list_{

}

.footer_menu_social_list_youtube{

}

.footer_menu_social_list_vkontakte{

}

.footer_menu_social_list_pinterest{

}
